/* Import custom fonts */
@font-face {
    font-family: 'Jalliya';
    src: url('/fonts/Jalliya-VGwxy.ttf') format('truetype'),
         url('/fonts/Nohemi-Black.otf') format('opentype'),
         url('/fonts/Nohemi-Bold.otf') format('opentype'),
         url('/fonts/Nohemi-ExtraBold.otf') format('opentype'),
         url('/fonts/Nohemi-ExtraLight.otf') format('opentype'),
         url('/fonts/Nohemi-Light.otf') format('opentype'),
         url('/fonts/Nohemi-Medium.otf') format('opentype'),
         url('/fonts/Nohemi-Regular.otf') format('opentype'),
         url('/fonts/Nohemi-SemiBold.otf') format('opentype'),
         url('/fonts/Nohemi-Thin.otf') format('opentype');
}

/* Apply custom font to the body */
body {
  font-family: 'Nohemi', sans-serif;
  background-color: #fffbed; /* Set background color here */
}



/* Responsive styles for mobile view */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  .header {
    margin-bottom: 20px;
  }

  .bio {
    margin: 0 0 20px 0;
  }

  .resumeLink {
    margin: 0 auto 20px auto;
  }

  .projects {
    display: block;
  }

  .project {
    width: 100%;
    margin-bottom: 20px;
  }
}
