.randomprojectone {
    width: 410px;
    height: 120px;
    background-color: #ff7f7f;
    position: relative;
    margin-top: 20px;
    margin-left: 1030px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .externalLinkIcon {
    width: 20px; 
    height: 23px; 
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; /* Add pointer cursor on hover */
    transition: filter 0.3s ease; /* Add transition effect for hover animation */
  }
  
  .externalLinkIcon:hover {
    filter: brightness(0.8); /* Darken the SVG icon on hover */
  }
  
  .headerText {
    font-family: 'Nohemi', sans-serif;
    font-size: 14px; 
    text-align: left; 
    margin-top: 70px;
  }
  
  .bodyText {
    font-family: 'Nohemi', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    margin-top: -15px;
  }